header {
    display: flex;
    justify-content: space-between;
}
nav {
    display: flex;
    justify-content: space-around;
}
li {
    font-size: 1rem;
    font-weight: bold;
    list-style-type: none;
    display: inline-block;
    margin: 1rem;
}
nav div {
    align-self: center;
    margin-left: 3rem;
}
app-search-form {
    align-self: center;
}
a:link {
    text-decoration: none;
    color: rgb(182,182,182);
}
a:hover {
    color: rgb(229,229,229);
}
a:visited {
    text-decoration: none;
    color: rgb(182,182,182);
}