<footer>
  <nav>
    <ul class="footer__icons">
      <li><a href="http://www.facebook.com"><i class="fab fa-facebook"></i></a></li>
      <li><a href="http://www.instagram.com"><img height="25px" src="assets/img/icon-instagram.png"></a></li>
      <li><a href="http://www.twitter.com"><img height="25px" src="assets/img/icon-twitter.png"></a></li>
      <li><a href="http://www.youtube.com"><img height="25px" src="assets/img/icon-youtube.png"></a></li>
    </ul>
    <ul class="footer__table">
      <li><a href="#">Audio y subt&iacute;tulos</a></li>
      <li><a href="#">Descripci&oacute;n</a></li>
      <li><a href="#">Centro de ayuda</a></li>
      <li><a href="#">Tarjetas regalo</a></li>
      <li><a href="#">Zona de prensa</a></li>
      <li><a href="#">Inversores</a></li>
      <li><a href="#">Empleo</a></li>
      <li><a href="#">T&eacute;rminos de uso</a></li>
      <li><a href="#">Privacidad</a></li>
      <li><a href="#">Avisos legales</a></li>
      <li><a href="#">Preferencia de cookies</a></li>
      <li><a href="#">Informaci&oacute;n corporativa</a></li>
      <li><a href="#">Cont&aacute;ctanos</a></li>
    </ul>
    <p class="footer__box"><a href="#">C&oacute;digo de servicio</a></p>
  </nav>
  <p>&copy; 2018-2018 Appflix, Inc.</p>
</footer>