<main>
  <h2>Pel&iacute;culas populares en Upflix</h2>
  <app-carrousel-netflix [carrouselType]="'popularMovies'"></app-carrousel-netflix>
  <h2>Tendencias hoy</h2>
  <app-carrousel-netflix [carrouselType]="'trendingToday'"></app-carrousel-netflix>
  <h2>Películas japonesas</h2>
  <app-carrousel-netflix [carrouselType]="'japMovies'"></app-carrousel-netflix>
  <h2>Series populares en Upflix</h2>
  <app-carrousel-netflix [carrouselType]="'popularSeries'"></app-carrousel-netflix>
  <h2>Series japonesas</h2>
  <app-carrousel-netflix [carrouselType]="'japSeries'"></app-carrousel-netflix>
</main>
